## Mobike数据集的简单评估和清理

In [1]:
#载入所需数据包
import pandas as pd
import numpy as np

In [2]:
#读入数据集
df = pd.read_csv('mobike_shanghai_sample_updated.csv')

In [3]:
#查看数据集信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
orderid             102361 non-null int64
bikeid              102361 non-null int64
userid              102361 non-null int64
start_time          102361 non-null object
start_location_x    102361 non-null float64
start_location_y    102361 non-null float64
end_time            102361 non-null object
end_location_x      102361 non-null float64
end_location_y      102361 non-null float64
track               102361 non-null object
dtypes: float64(4), int64(3), object(3)
memory usage: 6.6+ MB

In [4]:
#设置显示每列里的所有内容，而不会被默认砍掉
pd.set_option('display.max_colwidth', -1)

#查看前10行数据
df.head(10)

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#121.350,31.390#121.351,31.390#121.351,31.391#121.352,31.391#121.353,31.391#121.353,31.394#121.354,31.391#121.355,31.391#121.356,31.389#121.356,31.390#121.356,31.391#121.357,31.388#121.357,31.389"
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#121.490,31.271#121.491,31.271#121.492,31.270#121.492,31.271#121.493,31.269#121.493,31.270#121.494,31.268#121.494,31.269#121.495,31.269#121.495,31.270#121.496,31.270#121.497,31.270#121.497,31.271#121.498,31.272#121.499,31.272#121.499,31.273#121.500,31.273#121.500,31.274#121.501,31.274#121.502,31.273#121.502,31.274#121.503,31.273#121.504,31.273#121.504,31.274#121.505,31.274#121.505,31.275#121.506,31.275#121.506,31.276#121.506,31.277#121.507,31.277#121.507,31.278#121.507,31.279#121.508,31.279"
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#121.382,31.253#121.382,31.254#121.383,31.250#121.383,31.251#121.383,31.254#121.384,31.250#121.385,31.250#121.386,31.250#121.387,31.250#121.387,31.251#121.388,31.251#121.388,31.252#121.389,31.251#121.389,31.252#121.390,31.251#121.391,31.251#121.392,31.251#121.393,31.248#121.393,31.250#121.394,31.248#121.394,31.249#121.394,31.250#121.395,31.248#121.396,31.248#121.397,31.248#121.398,31.248#121.399,31.248#121.400,31.248#121.401,31.248#121.402,31.248#121.403,31.248#121.404,31.248#121.404,31.249#121.405,31.249#121.406,31.248#121.406,31.249#121.407,31.248#121.407,31.249"
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#121.473,31.325#121.474,31.322#121.474,31.323#121.475,31.320#121.475,31.321#121.475,31.322#121.476,31.320#121.477,31.320#121.478,31.320#121.479,31.320#121.480,31.320#121.481,31.320#121.482,31.320#121.483,31.320#121.484,31.320"
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#121.411,31.288#121.414,31.288#121.417,31.288#121.418,31.287#121.418,31.288"
5,537030,66346,10335,2016-08-07 21:00,121.488,31.224,2016-08-07 21:20,121.468,31.233,"121.468,31.233#121.469,31.233#121.470,31.233#121.471,31.233#121.472,31.233#121.472,31.234#121.473,31.234#121.474,31.233#121.474,31.234#121.475,31.233#121.475,31.234#121.476,31.233#121.476,31.234#121.477,31.231#121.477,31.232#121.478,31.230#121.478,31.231#121.479,31.230#121.480,31.230#121.481,31.229#121.481,31.230#121.482,31.228#121.482,31.229#121.483,31.227#121.484,31.226#121.484,31.227#121.485,31.225#121.485,31.226#121.486,31.224#121.486,31.225#121.487,31.224#121.488,31.224"
6,517706,99631,11258,2016-08-29 13:39,121.445,31.176,2016-08-29 13:54,121.447,31.192,"121.445,31.176#121.446,31.175#121.446,31.176#121.447,31.171#121.447,31.172#121.447,31.173"
7,270836,63136,11361,2016-08-29 09:21,121.369,31.252,2016-08-29 13:43,121.376,31.233,"121.367,31.238#121.367,31.239#121.368,31.240#121.368,31.241#121.368,31.242#121.368,31.252#121.369,31.242#121.369,31.243#121.369,31.244#121.369,31.245#121.369,31.252#121.370,31.245#121.370,31.246#121.370,31.247#121.370,31.251#121.370,31.252#121.371,31.248#121.371,31.249#121.371,31.250#121.371,31.251"
8,441362,331921,11705,2016-08-31 08:16,121.529,31.324,2016-08-31 08:19,121.532,31.323,"121.529,31.324#121.530,31.324#121.531,31.323#121.531,31.324#121.532,31.323"
9,76435,347335,8135,2016-08-30 12:49,121.467,31.320,2016-08-30 13:03,121.447,31.318,"121.447,31.317#121.447,31.318#121.448,31.314#121.448,31.315#121.448,31.316#121.449,31.315#121.450,31.315#121.451,31.315#121.452,31.315#121.453,31.316#121.454,31.316#121.455,31.316#121.457,31.316#121.457,31.317#121.458,31.317#121.459,31.317#121.461,31.317#121.461,31.318#121.462,31.318#121.464,31.318#121.466,31.319#121.467,31.319#121.468,31.319#121.468,31.320"

In [5]:
#检查数据集是否有重复订单
df.orderid.duplicated().sum()

0

In [6]:
#查看总用户数
df.userid.nunique()

16887

In [7]:
#查看总单车数
df.bikeid.nunique()

79062

以上可见，数据集涉及到102361条订单数据，16887个用户和79062辆单车。

由于骑行轨迹列，对我提出的5个问题的探究没有太多帮助，以下删除该列。

In [8]:
#删除骑行轨迹列
df = df.drop(['track'],axis=1)

In [9]:
#将start_time和end_time列转成正确的时间格式，以便后续进行计算
df.start_time = pd.to_datetime(df.start_time)
df.end_time = pd.to_datetime(df.end_time)

In [10]:
#计算骑行时长，存入新列duration中
df['duration'] = df.end_time - df.start_time
df['duration']

0        00:07:00
1        00:22:00
2        00:19:00
3        00:09:00
4        00:09:00
5        00:20:00
6        00:15:00
7        04:22:00
8        00:03:00
9        00:14:00
10       00:08:00
11       00:46:00
12       00:11:00
13       00:07:00
14       00:13:00
15       00:17:00
16       00:11:00
17       00:10:00
18       00:05:00
19       00:13:00
20       00:41:00
21       00:03:00
22       00:11:00
23       00:06:00
24       00:22:00
25       00:07:00
26       00:09:00
27       00:06:00
28       00:08:00
29       00:29:00
           ...
102331   00:06:00
102332   00:04:00
102333   00:08:00
102334   00:51:00
102335   00:06:00
102336   00:12:00
102337   00:35:00
102338   00:05:00
102339   00:08:00
102340   00:07:00
102341   00:08:00
102342   00:14:00
102343   00:08:00
102344   00:07:00
102345   00:07:00
102346   00:02:00
102347   00:21:00
102348   00:10:00
102349   00:38:00
102350   00:06:00
102351   00:14:00
102352   00:04:00
102353   00:07:00
102354   00:08:00
102355   00:09:00
102356   00:06:00
102357   00:06:00
102358   00:12:00
102359   00:06:00
102360   00:10:00
Name: duration, Length: 102361, dtype: timedelta64[ns]

In [11]:
#将duration列的时间格式转化成分钟数
df['duration'] = df['duration'].apply(lambda x: x/np.timedelta64(1,'m'))

In [12]:
#根据start_time排序
df.sort_values('start_time')

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,duration
91307,31355,79699,759,2016-08-01 00:23:00,121.520,31.309,2016-08-01 00:32:00,121.525,31.316,9.0
15161,31388,33279,1440,2016-08-01 00:25:00,121.505,31.294,2016-08-01 00:40:00,121.517,31.309,15.0
67939,31401,3060,5463,2016-08-01 00:26:00,121.375,31.107,2016-08-01 00:41:00,121.387,31.103,15.0
94977,31423,43119,4666,2016-08-01 00:32:00,121.528,31.263,2016-08-01 00:52:00,121.531,31.282,20.0
47303,31438,116238,2193,2016-08-01 00:33:00,121.434,31.249,2016-08-01 00:46:00,121.427,31.260,13.0
18021,31455,115749,5114,2016-08-01 00:35:00,121.436,31.136,2016-08-01 00:40:00,121.442,31.135,5.0
59375,31480,61084,1183,2016-08-01 00:43:00,121.387,31.103,2016-08-01 00:53:00,121.393,31.099,10.0
67326,31485,123910,2154,2016-08-01 00:44:00,121.495,31.216,2016-08-01 00:52:00,121.499,31.210,8.0
1146,31502,36158,6667,2016-08-01 00:45:00,121.528,31.266,2016-08-01 01:21:00,121.510,31.253,36.0
31506,31508,26060,4756,2016-08-01 00:46:00,121.424,31.225,2016-08-01 01:17:00,121.454,31.223,31.0
47051,31540,112334,7066,2016-08-01 00:53:00,121.427,31.172,2016-08-01 01:11:00,121.434,31.173,18.0
57541,31549,101533,3364,2016-08-01 00:54:00,121.379,31.254,2016-08-01 01:05:00,121.374,31.241,11.0
3001,31564,101807,1383,2016-08-01 00:58:00,121.546,31.314,2016-08-01 01:10:00,121.541,31.328,12.0
64005,31572,104356,3196,2016-08-01 01:00:00,121.386,31.314,2016-08-01 01:09:00,121.375,31.316,9.0
53306,31581,64570,4622,2016-08-01 01:02:00,121.534,31.321,2016-08-01 01:18:00,121.513,31.311,16.0
21805,31590,113094,3250,2016-08-01 01:06:00,121.538,31.271,2016-08-01 01:26:00,121.513,31.266,20.0
90613,31613,26116,5069,2016-08-01 01:11:00,121.475,31.330,2016-08-01 01:24:00,121.486,31.338,13.0
24027,31606,121853,5432,2016-08-01 01:11:00,121.453,31.210,2016-08-01 01:29:00,121.434,31.237,18.0
50690,31619,823,6615,2016-08-01 01:13:00,121.473,31.202,2016-08-01 01:21:00,121.465,31.207,8.0
68825,31633,41445,6172,2016-08-01 01:18:00,121.398,31.232,2016-08-01 01:28:00,121.410,31.235,10.0
66030,31635,50954,2077,2016-08-01 01:19:00,121.436,31.318,2016-08-01 01:39:00,121.440,31.302,20.0
14593,31645,78767,6378,2016-08-01 01:21:00,121.518,31.310,2016-08-01 01:24:00,121.513,31.311,3.0
4902,31658,104609,6665,2016-08-01 01:25:00,121.539,31.328,2016-08-01 01:27:00,121.537,31.330,2.0
69234,31708,9330,7636,2016-08-01 01:42:00,121.429,31.204,2016-08-01 02:04:00,121.437,31.191,22.0
6917,31707,113275,3084,2016-08-01 01:43:00,121.411,31.289,2016-08-01 02:01:00,121.399,31.281,18.0
45709,31740,124887,4161,2016-08-01 01:51:00,121.459,31.195,2016-08-01 01:55:00,121.462,31.198,4.0
87228,31742,108520,1820,2016-08-01 01:51:00,121.449,31.279,2016-08-01 02:14:00,121.448,31.280,23.0
60663,31771,98978,1312,2016-08-01 02:02:00,121.353,31.284,2016-08-01 02:08:00,121.348,31.289,6.0
77013,31798,102468,77,2016-08-01 02:16:00,121.545,31.272,2016-08-01 02:21:00,121.538,31.273,5.0
44620,31807,13832,5553,2016-08-01 02:18:00,121.424,31.183,2016-08-01 02:22:00,121.427,31.177,4.0
...,...,...,...,...,...,...,...,...,...,...
39692,1737723,136178,16452,2016-08-31 23:39:00,121.506,31.264,2016-08-31 23:44:00,121.509,31.260,5.0
71025,1737731,359079,17377,2016-08-31 23:39:00,121.507,31.192,2016-08-31 23:57:00,121.514,31.175,18.0
60311,1737737,193007,710,2016-08-31 23:39:00,121.460,31.265,2016-08-31 23:49:00,121.451,31.280,10.0
93284,1737747,340068,13470,2016-08-31 23:40:00,121.387,31.205,2016-09-01 00:10:00,121.404,31.210,30.0
29299,1737753,156394,1008,2016-08-31 23:40:00,121.498,31.385,2016-08-31 23:58:00,121.488,31.368,18.0
68334,1737764,234952,4562,2016-08-31 23:41:00,121.467,31.303,2016-08-31 23:48:00,121.478,31.307,7.0
97664,1737783,251330,2017,2016-08-31 23:42:00,121.527,31.278,2016-08-31 23:50:00,121.529,31.285,8.0
72056,1737809,245129,698,2016-08-31 23:43:00,121.561,31.211,2016-09-01 00:42:00,121.524,31.180,59.0
67612,1737859,167246,12929,2016-08-31 23:45:00,121.386,31.214,2016-08-31 23:50:00,121.393,31.211,5.0
44012,1737891,152062,9808,2016-08-31 23:46:00,121.407,31.335,2016-09-01 00:04:00,121.408,31.326,18.0
67087,1737893,167397,11526,2016-08-31 23:46:00,121.375,31.260,2016-08-31 23:52:00,121.380,31.261,6.0
77489,1737884,387349,10135,2016-08-31 23:46:00,121.484,31.237,2016-08-31 23:57:00,121.483,31.229,11.0
1908,1737902,192206,8529,2016-08-31 23:47:00,121.471,31.212,2016-09-01 01:01:00,121.444,31.256,74.0
49193,1737942,387351,8851,2016-08-31 23:49:00,121.428,31.303,2016-09-01 00:16:00,121.454,31.289,27.0
99359,1737960,358810,14051,2016-08-31 23:50:00,121.589,31.325,2016-09-01 00:17:00,121.567,31.350,27.0
3278,1737988,224756,11446,2016-08-31 23:51:00,121.412,31.161,2016-09-01 00:44:00,121.381,31.221,53.0
18828,1737981,267558,7303,2016-08-31 23:51:00,121.507,31.282,2016-09-01 00:03:00,121.513,31.274,12.0
13624,1737991,387162,14714,2016-08-31 23:51:00,121.443,31.341,2016-09-01 00:10:00,121.437,31.330,19.0
84373,1737998,300869,12015,2016-08-31 23:52:00,121.390,31.206,2016-09-01 00:47:00,121.392,31.205,55.0
30965,1738005,263389,12131,2016-08-31 23:52:00,121.442,31.136,2016-09-01 00:17:00,121.413,31.135,25.0
79018,1738032,379992,3631,2016-08-31 23:53:00,121.467,31.240,2016-09-01 00:46:00,121.422,31.260,53.0
2562,1738038,215704,9716,2016-08-31 23:53:00,121.367,31.228,2016-09-01 00:16:00,121.368,31.210,23.0
45090,1738023,243092,10839,2016-08-31 23:53:00,121.540,31.321,2016-09-01 00:32:00,121.541,31.283,39.0
24791,1738052,278135,974,2016-08-31 23:54:00,121.427,31.268,2016-09-01 00:48:00,121.430,31.262,54.0
62576,1738091,381284,1272,2016-08-31 23:56:00,121.491,31.344,2016-09-01 00:04:00,121.494,31.350,8.0
93657,1738075,277752,710,2016-08-31 23:56:00,121.451,31.280,2016-09-01 00:11:00,121.453,31.276,15.0
44314,1738107,113298,14042,2016-08-31 23:57:00,121.391,31.213,2016-09-01 00:23:00,121.386,31.206,26.0
100128,1738102,387339,7608,2016-08-31 23:57:00,121.510,31.272,2016-09-01 00:47:00,121.518,31.268,50.0
16723,1738105,258697,13416,2016-08-31 23:57:00,121.443,31.343,2016-09-01 00:36:00,121.431,31.350,39.0
66587,1738126,387328,2164,2016-08-31 23:58:00,121.511,31.259,2016-09-01 00:31:00,121.499,31.273,33.0

以上可以看出数据集记录了2016年8月1日到8月31日的订单，即8月整月的数据。

In [13]:
#查看用户骑行次数
df.userid.value_counts()

6199     25
3369     23
7475     21
6138     21
5150     21
5949     21
8633     21
6526     21
4123     21
7883     20
8762     20
11456    20
5215     20
10609    20
8700     20
1123     20
9708     19
7045     19
6450     19
7758     19
1866     19
6544     19
9604     19
9188     19
8188     19
7776     19
8077     19
7376     19
11258    18
3175     18
         ..
16397    1
14217    1
4167     1
16461    1
306      1
16438    1
16792    1
34       1
9856     1
10154    1
17073    1
8886     1
13206    1
15191    1
16490    1
4015     1
17137    1
16554    1
16003    1
418      1
1668     1
16984    1
14312    1
16954    1
14018    1
16682    1
16856    1
17201    1
16131    1
5295     1
Name: userid, Length: 16887, dtype: int64

In [14]:
#对骑行时长进行排序
df.duration.sort_values(ascending=False)

61444     4725.0
12744     3662.0
85894     2947.0
50219     2848.0
36431     2479.0
48841     1961.0
67143     1538.0
53291     1511.0
87553     1393.0
68797     1272.0
36612     1227.0
79854     1115.0
51671     1072.0
57505     1053.0
57343     955.0
74862     917.0
96400     905.0
32219     892.0
37656     889.0
14287     840.0
100088    666.0
38982     642.0
27415     629.0
96043     627.0
101327    604.0
35991     604.0
42508     602.0
14580     573.0
71945     564.0
44430     530.0
          ...
49950     1.0
6589      1.0
83471     1.0
63854     1.0
89778     1.0
29935     1.0
25869     1.0
39787     1.0
82616     1.0
14890     1.0
29321     1.0
98446     1.0
49560     1.0
11605     1.0
81845     1.0
3719      1.0
52106     1.0
30241     1.0
26732     1.0
78308     1.0
86453     1.0
89182     1.0
44415     1.0
5538      1.0
100957    1.0
75065     1.0
54773     1.0
91480     1.0
75109     1.0
73467     1.0
Name: duration, Length: 102361, dtype: float64

In [15]:
#查看骑行时长最长的数据
df.iloc[61444]

orderid             119909
bikeid              86648
userid              7426
start_time          2016-08-05 08:43:00
start_location_x    121.507
start_location_y    31.258
end_time            2016-08-08 15:28:00
end_location_x      121.503
end_location_y      31.265
duration            4725
Name: 61444, dtype: object

以上数据可见，起始坐标基本没变，骑行时间确持续了3天多。明显为没有锁车导致的。

In [16]:
#查看另外一个骑行时长较长的行
df.iloc[36431]

orderid             1796813
bikeid              109837
userid              13933
start_time          2016-08-26 21:10:00
start_location_x    121.383
start_location_y    31.247
end_time            2016-08-28 14:29:00
end_location_x      121.39
end_location_y      31.258
duration            2479
Name: 36431, dtype: object

以上行也是同样的情况，应该是没有锁车的异常情况。

此数据集中有不少类似的异常情况，因此在可视化的过程中，需要考虑到针对此类数据的统计。

In [17]:
#再次查看整理后的数据
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
orderid             102361 non-null int64
bikeid              102361 non-null int64
userid              102361 non-null int64
start_time          102361 non-null datetime64[ns]
start_location_x    102361 non-null float64
start_location_y    102361 non-null float64
end_time            102361 non-null datetime64[ns]
end_location_x      102361 non-null float64
end_location_y      102361 non-null float64
duration            102361 non-null float64
dtypes: datetime64[ns](2), float64(5), int64(3)
memory usage: 7.8 MB

In [18]:
#将整理过的数据集存为“mobike_shanghai_clean.csv”
df.to_csv('mobike_shanghai_clean.csv')

整理过的数据集就可以导入Tableau，用于可视化探究了。